.navbar{
    background-color: #1C2B35;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.navbar-route>a{
    margin-left: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-route>a:hover{
    color:rgb(224, 224, 18);
}
